{%extends "index.html"%}
{%load static%}
{%block body%}
        
        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" id="page" style="background-image: url('{%static 'assets/images/gofresh/f4.jpg'%}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>About US</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>About US</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<!-- :: About US -->
        <section class="about-us py-100" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-us-img-box">
                            <div class="img-box" style="background-image: url('{%static 'assets/images/gofresh/f8.jpg'%}')"></div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="about-us-text-box">
                            <div class="sec-title">
                                <h2>About Us</h2>
                                
                                <p class="sec-explain">Gofresh is a venture of Invitante Solutions Pvt. Ltd. (ISPL) is a pioneering Food-Tech start-up working on quality food preparation and distribution through cutting edge, innovative systems. As more and more consumers are moving towards healthier, hygienic & freshly made food products the vending ecosystem is striving to keep up and accommodate ever-changing tastes to secure its market position. Gofresh aims to establish itself as a competitive player in this in-demand market by designing and developing a brand new generation of Fully Automatic Self-Monitoring systems for the preparation and distribution of delicious, top quality, fresh products.</p>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team py-100-90">
            <div class="container">
                <div class="sec-title">
                    <div class="row">
                        <div class="col-lg-2">
                            <h2>Expert Members</h2>
                            <!-- <h3>Qualified Staff Of Experts</h3> -->
                        </div>
                        <div class="col-lg-10 d-flex align-items-center">
                            <p class="sec-explain">Our highly skilled team is connected to a network of prestigious government organizations, Incubators, engineering universities, high-tech firms, organic agri-food businesses and a pool of mentors & investors having wide experience in the industry to guide us to the right path. <br> We believe anything is possible if people try their best, are humble & look for ways to get better all the time.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" width="100%" src="{%static 'assets/images/team/Dishant.jpg'%}" alt="01 team">
                                
                            </div>
                            <div class="text-box text-center">
                                <h5><a href="">Dishant Garg</a></h5>
                                <!-- <span>Account Manager</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" width="100%" src="{%static 'assets/images/team/Vikash.jpg'%}" alt="02 team">
                                
                            </div>
                            <div class="text-box text-center">
                                <h5><a href="">Vikash Gupta</a></h5>
                                <!-- <span>Founder &amp; CEO</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" width="100%" src="{%static 'assets/images/team/JJ.jpg'%}" alt="03 team">
                                
                            </div>
                            <div class="text-box text-center">
                                <h5><a href="">Mrityunjay Baksh Singh</a></h5>
                                <!-- <span>Sener Engineer</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {%endblock%}