{%extends "index.html"%}
{%load static%}
{%block body%}
        
        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" id="page" style="background-image: url('{%static 'assets/images/gofresh/f9.jpg'%}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>Additional Features</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>Additional Features</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<!-- :: About US -->
        <section class="about-us py-100" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-us-img-box">
                            <div class="img-box" style="background-image: url('{%static 'assets/images/gofresh/advertisement.png'%}')"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-us-text-box">
                            <div class="sec-title">
                                <h1 style="margin: 20px 0;">Additional Features</h1>
                                <h2 style="margin: 10px 0;">Advertisement Platform</h2>
                                <!-- <h3>Garments play a critical role.
                                </h3> -->
                                <p class="sec-explain">Gofresh is providing a platform to promote local brands with specific area advertisement to promote Vocal for Local.</p>
                                <!-- <h1>Franchise Model</h1> -->
                                <!-- <p class="sec-explain">Cost-Effectiveness: Comparing the cost of car wrapping to traditional painting methods, highlighting its affordability and the option to revert to the original paint.</p>
                                <p class="sec-explain">Marketing Opportunity: For businesses, emphasize the branding and advertising advantages of using vehicle wraps to promote their products or services.</p> -->

                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-12">
                        <h1>Franchise Model</h1>
                        <!-- <p class="providing">Franchise Model</p> -->
                        <p class="sec-explain">Indian fruit market has seen a consistent growth in the consumption of Fruits & Juice market and to cater this growing demand; Gofresh is ready to launch in the industry with its new technology. Gofresh franchise can install a machine anywhere in high footfall areas in order to get returns in quick time. We are offering you to be a part of Fruit Revolution. All you require is a 35 sq. ft. space in a high footfall area and you are all set to rock the market.</p>
                        <ul class="about-us-core-list">
                            <li class="item">
                                <i class="fas fa-check"></i>
                                <h4>No manpower required</h4>
                            </li>
                            <li class="item">
                                <i class="fas fa-check"></i>
                                <h4>24×7 innovation is literally plug and play</h4>
                            </li>
                            <li class="item">
                                <i class="fas fa-check"></i>
                                <h4>Plug into profits</h4>
                            </li>
                            <li class="item">
                                <i class="fas fa-check"></i>
                                <h4>Plug into the Fruit Revolution</h4>
                            </li>
                        </ul>
                    </div>
                    
                </div>

            </div>
        </section>

        <!-- <section class="team py-100-70">
            <div class="container">
                <div class="sec-title">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Expert Members</h2>
                            <h3>Qualified Staff Of Experts</h3>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="sec-explain">Our highly skilled team is connected to a network of prestigious government organizations, Incubators, engineering universities, high-tech firms, organic agri-food businesses and a pool of mentors & investors having wide experience in the industry to guide us to the right path.</p>
                            <p>We believe anything is possible if people try their best, are humble & look for ways to get better all the time.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="{%static 'assets/images/team/Dishant.jpg'%}" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5><a href="">Dishant Garg</a></h5>
                                <span>Account Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="{%static 'assets/images/team/Vikash.jpg'%}" alt="02 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5><a href="">Vikash Gupta</a></h5>
                                <span>Founder &amp; CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="{%static 'assets/images/team/JJ.jpg'%}" alt="03 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5><a href="">Mrityunjay Baksh Singh</a></h5>
                                <span>Sener Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        {%endblock%}