{%extends "index.html"%}
{%load static%}
{%block body%}
        
		<!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header style-2" id="page" style="background-image: url('{%static 'assets/images/gofresh/f6.jpg'%}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>Product & Services</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
        <!-- :: Blog -->
        <section class="blog py-100-70">
            <div class="container">
                <div class="sec-title home-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- <h2>Recent</h2> -->
                            <h3>Products & Services</h3>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <!-- <p class="sec-explain">Garments encompass a wide range of clothing items designed to cover and protect the body, as well as express personal style.</p> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 style="font-weight:900; margin-bottom:20px">Fruit Salad</h4>
                    <!-- <img class="img-fluid" src="{%static 'assets/images/gofresh/Fruit-salad.png'%}" alt="01 Blog"> -->
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/p1.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Pomegranate</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/grapes.jpg'%}" alt="02 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Grapes</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/straberry.jpg'%}" alt="03 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Straberry</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/cherry.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>cherry</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h4 style="font-weight:900; margin-bottom:20px">Fruit Juice</h4>
                    <!-- <img class="img-fluid" src="{%static 'assets/images/gofresh/Fruit-salad.png'%}" alt="01 Blog"> -->
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/sugar.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Sugarcane Juice</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/orange.jpg'%}" alt="02 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Orange Juice</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/mausami.jpg'%}" alt="03 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Mausami Juice</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/lime.webp'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Lime Juice</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h4 style="font-weight:900; margin-bottom:20px">Packed Bottle</h4>
                    <!-- <img class="img-fluid" src="{%static 'assets/images/gofresh/Fruit-salad.png'%}" alt="01 Blog"> -->
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/apple.webp'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Apple</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/banana.webp'%}" alt="02 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Banana</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/chikoo.webp'%}" alt="03 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Chikoo</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 220px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/gofresh/coconut.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Coconut Water</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <p>Gofresh makes freshly made fruit juice & fruit salad accessible to you, 24×7, wherever you are…</p>
        </section>
        {%endblock%}